services:
  web:
    build: .
    container_name: tradesphere-web
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NEXT_TELEMETRY_DISABLED=1
    volumes:
      - .:/app
      - /app/node_modules
  postgres:
    image: postgres:17
    container_name: tradesphere-postgres
    environment:
      POSTGRES_USER: tradesphere
      POSTGRES_PASSWORD: tradesphere
      POSTGRES_DB: tradesphere_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: tradesphere-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
